#appHeader {
	margin-left: auto;
    margin-right: auto;
    width: 1180px;
	background-color: #66CCFF;
	font-family: "Verdana";
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10px;
}

#appUser {
	margin-left: auto;
    margin-right: auto;
    width: 1200px;
	background-color: #66CCFF;
	font-family: "Verdana";
	color: #FFFFFF;
	padding: 0;
}

.welcome {
	text-indent: 0.2em;
	float: right;
	padding: 10px;
}


#appLogout:link, #appLogout:visited {
	text-decoration: none;
    text-transform: uppercase;
	text-align: right;
	width: 120px;
	margin: 0px;
	padding: 10px;
    color: #FFFFFF;
	float: right;
}

#appLogout:hover, #appLogout:active {
	background-color: #52A3CC;
}

#appMenu {
	margin-left: auto;
    margin-right: auto;
    width: 1200px;
	background-color: #66CCFF;
}

#menulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	clear: both;
}

.menu {
    display: block;
    width: 192px;
	float: left;
    font-family: "Verdana";
	font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
	background-color: #66CCFF;
}

#topField {
	margin-left: auto;
    margin-right: auto;
    width: 1180px;
	height: 60px;
	padding: 10px;
	font-family: "Verdana";
	color: #66CCFF;	
}

#studyTopic {
	display: none;
}

#studyId {
	display: none;
}

#main {
	margin-left: auto;
    margin-right: auto;
    width: 1180px;
	height: 500px;
	background-color: #66CCFF;
	margin-top: 20px;
	padding: 10px;
	font-family: "Verdana";
	font-size: 24px;
	color: #FFFFFF;
    text-align: center;	
}

#studyList {
	display: none;
}

#showCard {
	display: none;
}

#next , #saveStudy {
	font-family: "Verdana";
	font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
	background-color: #66CCFF;
}

#histList {
	display: none;
}

.histHeader {
	border-width: 1px;
	border-style: solid;
    border-color: #52A3CC;
	background-color: #5CB8E6;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: normal;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.histData {
	border-width: 1px;
	border-style: solid;
    border-color: #52A3CC;
	background-color: #FFFFFF;
	padding: 6px;
}

#histTable {
	border-width: 1px;
	border-style: solid;
    border-color: #52A3CC;
	background-color: #FFFFFF;
	border-collapse: collapse;
	color: #52A3CC;
	font-size: 16px;
	font-weight: normal;
	
}








